button {
  padding: 8px 16px;
  background-color: #4e75ff;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #808080;
  cursor: not-allowed;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input,
textarea,
fieldset {
  outline: none;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  box-sizing: border-box;
}

input::placeholder,
textarea::placeholder {
  color: #2e2f42;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border-color: #000000;
}

input:disabled,
textarea:disabled {
  background-color: #80808025;
  border-color: #808080;
  cursor: not-allowed;
}
